<div class="logo_header"></div>
<div id="map_canvas"></div>
<div class="filters">

  <div id="game_list">
    <!-- This is where the games list will live after a request is sent to games/index -->
  </div>
  
<%= link_to 'All Bars', bars_path, :remote => true, :class => "update-bars"%></br>
<%= link_to 'Games', '#', :id => "get_games"%></br>
<%= link_to '49ers', team_path(18), :remote => true, :class => "update-bars"%></br>
<%= link_to 'clear', bars_path, :remote => true, :class => "clear-map"%>
</div>

<script>
  $(document).ready(function() {
    $.ajax({
      url: '/games',
      dataType: 'script',
      type: 'GET',
      success: function(data, textStatus) {
        console.log(data);
      }
      // More stuff should go here eventually
    });
  });
</script>

<!--<script>
  $(document).ready(function() { Game.displayGames(); });
</script> -->