<% @games.each do |game| %>
  <p>
    <%= link_to "#{game[1]} @ #{game[3]}", game_path(game[5]), :remote => true, :data => { :type => :json }, :class => "update-bars"%> - <%= game[0] %> </p>
<% end %>