
<% @games.each do |game| %>
  <p>
    <%= link_to "#{game["home_team"]} @ #{game["away_team"]}", game_path(game["game_id"]), :remote => true, :data => { :type => :json }, :class => "update-bars"%> - <%= game["game_at"]%></p>
<% end %>