<ul class="pager", id="week_pager">
<li class="previous"><%= link_to 'Older', games_path(:week => week - 1), :remote => true %></li>
<%="Week #{week}"%>
<li class="next"><%= link_to 'Newer', games_path(:week => week + 1), :remote => true %></li>
</ul>
