@import url(https://fonts.googleapis.com/css?family=Ubuntu);

//* full-bar-info *//

.container-bars {
  padding-top: 30px;
  height: 100%
}

.bar-info, .log-in {
  margin: 50px;
}

.bar-image {
  float: left;
  width: 500px;
  height: 350px;
  margin-right: 5px;
  margin-bottom: 75px
}

table tr th.bar-team-logo {
  text-align: center;
}

div.bar-attributes{
  float: right;
  width: 50%;
}

table tr td.address {
  vertical-align: middle;
}

.team-logo {
  height: 20%;
}

.table-striped thead tr th, .table-striped tbody tr td {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.table-striped thead tr th {
  font-size: 150%;
}


//* mini-bar-info *//

.info-window {
  width: 420px;
  height: 100px;
}

.info-window .info-window-title {
  float: left;
  width: 100%;
  font-size: 1.3em;
  overflow: auto;
  margin-bottom: 10px;
}

.info-window .info-window-image {
  float: left;
}

.info-window .info-window-image img {
  float: left;
  width: 200px;
  height: 130px;
}

.info-window .info-window-data {
  float: right;
  font-size: 0.8em;
  width: 175px;
  overflow: auto;
}