@import url(https://fonts.googleapis.com/css?family=Ubuntu);

.container-bars {
  padding: 50px;
  height: 100%
}

.bar-image {
  float: left;
  width: 45%;
  margin-right: 5px;
}

table tr th.bar-team-logo {
  text-align: center;
}

div.bar-attributes{
  float: right;
  width: 50%;
}

table tr td.address {
  vertical-align: middle;
}

.team-logo {
  height: 20%;
}

.table-striped thead tr th, .table-striped tbody tr td {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.table-striped thead tr th {
  font-size: 150%;
}
