@import url(https://fonts.googleapis.com/css?family=Ubuntu);

/* store logos locally */

.team-logo {
  height: 35%;
}

#game_time {
  text-align: left;
}

tr.update-bars {
  cursor:pointer;
 } 
tr.update-bars:hover td { 
  background: #F1DFDF; 
}

