@import url(https://fonts.googleapis.com/css?family=Ubuntu);


html { 
  height: 100%;
}

body { 
  height: 100%; 
  margin: 0; 
  padding: 0
}

#map_canvas { 
  height: 100%;
}

#content{
  height: 40px;
}

.nav-collapse .nav li > a.dropdown-text {
    color: #DB1515;
    $linkColorHover: white;
  }

hr.dropdown-hr {
  padding:0;
  margin:2.5px;
}

.mini {
  h1 {
    font-size: 1.3em;
  }
  img.bar-image {
    height: 50%;
    width: 30%;
  }
  .bar-attributes table {
    font-size: 80%;
    img {
      height: 50%;
    }
  }
}

.filters {
  border-radius: 15px;
  overflow-x:hidden;
  overflow-y:auto; 
  background-color: whiteSmoke; 
  height: 350px; padding: 10px; 
  border: 1px solid #C9C9C9; 
  box-shadow: 10px 7px 20px -10px #333; width: 340px; 
  position: absolute; left: 35px; bottom: 25px; 
  z-index: 10;
}
/*
.logo_header{
  background-color: black; 
  height: 20px; padding: 10px; 
  box-shadow: 10px 7px 20px -10px #333; 

}*/